h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}
li {
    display: flex;
    justify-content: space-between;
}
.fe-close,
.fe-close:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}